
**/**.xlsx
**/**.pptx
**/.DS_Store
**/**.pdf

.vscode/**
**/__pycache__/**

generators/data/**
!generators/data/signal_powers_220805e-shortened.pickle

output/saved_states/*
# output/**
# !output/same_or_not_experiments/**
# !output/same_or_not_experiments/experiment_1002-20MC.pk